html {
  box-sizing: border-box;
  background-color: #fdf6e3;
  font-family: sans-serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

header, footer {
  font-size: 1.5rem;
}

nav ul {
  font-size: 1.5rem;
}

h1 {
  text-transform: uppercase;
}

[class="wrapper"] {
  background-color: #eee8d5;
}

[id="contents"] {
  color: #93a1a1;
}

[id="favs"] {
  color: #93a1a1;
}

[id="facts"] {
  color: #93a1a1;
}

[id="types"] {
  color: #93a1a1;
}

.wrapper > .dfn {
  background-color: #b58900;
}

 {
  color: #fff;
}

a:not(.no-highlight) {
  background-color: #719e07;
}

[rel="external"] {
  background-color: #2694d8;
}

ol li:first-child {
  color: #719e47;
}
